* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
}

.page {
    display: flex;
    height: 100vh;
}

.header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 12px;
    justify-content: flex-start;
    flex-grow: 1;
    width: 275px;
    border-right: 1px solid rgb(239, 243, 244);
    background-color: white;

}

.header .up-bar {
    width: 250px;
}

.header .twt-logo {
    font-size: 28.38px;
    color: #1D9BF0;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;

}

.header .twt-logo:hover {
    background-color: #E8F5FD;

}



.navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar ul li {
    list-style-type: none;
    font-size: 20px;
    padding: 12px;
    height: 50px;
    border-radius: 20px;
    display: inline-flex;
    margin: 4px 0;

}

.navbar ul li.active {
    font-weight: 700;
}

.navbar ul li:hover {
    background-color: #E7E7E8;

}

.navbar ul li i {
    margin-right: 20px;
    font-size: 24px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(15, 20, 25);

}

.header .twt-creating .btn-primary {
    width: 90%;
}

.btn-primary {
    margin-top: 10px;
    background-color: rgb(29, 155, 240);
    color: white;
    border-radius: 9999px;
    display: flex;
    min-height: 52px;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border: none;
    font-weight: 700;
    padding: 0 32px;
}

.btn-primary i {
    display: none;
}

.btn-primary:disabled {
    background-color: #8ECDF7;
}

.btn-primary:hover {
    background-color: #1A8CD8;

}

.header .bottom-bar {
    margin-top: auto;
    display: flex;
    width: 250px;

}

.bottom-bar .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    height: 60px;
    border-radius: 25px;
    width: 100%;

}

.profile .photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header .profile:hover {
    background-color: #E7E7E8;
}

.header .p-name {
    padding: 0 10px;
}

.header .p-name h3 {
    font-size: 15px;
    font-weight: 700;
}

.header .p-name p {
    font-size: 15px;
}

.main {
    flex-grow: 1;
    display: flex;
    width: 990px;
}

.main .main-container {
    flex: 1 1;
    max-width: 600px;
}

.main-container .twt-tabs {
    position: sticky;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(239, 243, 244);

}

.twt-tabs .name {
    height: 40px;
}

.twt-tabs .name h2 {
    padding: 0 16px;
    font-size: 20px;
    padding-top: 15px;

}


.twt-tabs .choose {

    display: flex;
    height: 60px;
}

.twt-tabs .choose {

    border-right: 1px solid rgb(239, 243, 244);

}

.twt-tabs .choose>div {
    flex-grow: 1;
}

.twt-tabs .choose div a {
    text-decoration: none;
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.twt-tabs .choose div a:hover {

    background-color: #E7E7E8;

}

.twt-tabs .choose div a.active {
    font-weight: 700;
    color: rgb(15, 20, 25);
}

.main-container .happening {
    display: flex;
    padding: 0 16px;
    border-bottom: 1px solid rgb(239, 243, 244);


}

.main-container .yarea {
    display: flex;
    padding: 5px 13px;
    flex-direction: column;
    flex-grow: 1;
}

.yarea .text-area {
    resize: none;
    border: none;
    padding: 12px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.main-container .happening .profile-img-wrapper {
    margin-right: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    flex-basis: 48px;
    padding-top: 4px;
}

.main-container .happening .profile-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;

}

.main-container .happening .things {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.main-container .happening .things .icons {
    display: flex;
}


.main-container .happening .things li {
    list-style-type: none;
    display: flex;
    min-width: 36px;
    min-height: 36px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.main-container .happening .things li:not(:first-child) {
    margin-left: 17px;
}

.main-container .happening .things li:hover {
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 50%
}

.main-container .happening .things i {
    font-size: 15px;
    color: #1D9BF0;

}



.happening .btn-primary {
    padding: 8px 16px;
    margin-top: 12px;
    min-height: 36px;
}

/* .btn-scnd {
    background-color: #8ECDF7;
    margin-top: 10px;
    color: white;
    border-radius: 9999px;
    display: flex;
    min-height: 49px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: none;
    font-weight: 700;
    padding: 0 16px;

} */

.main-container .tweet-cards {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid rgb(239, 243, 244);
}

.main-container .tweet-cards:hover {
    background-color: #E7E7E8
}

.tweet-cards .owner-profile-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 12px;
    padding: 12px;
}

.owner-profile-wrapper .owner-profile {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.tweet-cards .twt-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tweet-cards .twt-tittles {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 12px 12px 0 0;
    margin-bottom: 2px;
}

.twt-tittles .twt-name {
    display: flex;
}



.twt-name span.spn-1 {
    font-size: 15px;
    font-weight: 700;
}

.twt-name span.spn-2 {
    font-size: 15px;
}


.twt-name i .fa-solid {
    height: 18.75px;
    width: 18.75px;
    font-size: 15px;
}

.twt-tittles .twt-explanation {
    font-size: 15px;
}

.twt-contents .twt-icons-wrapper {
    display: flex;
    width: 100%;
}

.twt-icons-wrapper .twt-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 12px 60px 12px 0;
}



.twt-icons li {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    align-items: center;
}

.twt-icons .icon-wrapper {
    width: 34.75px;
    height: 34.75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.twt-icons li.color-1:hover {
    color: #E8F5FD;
}

.twt-icons li.color-1:hover .icon-wrapper {
    background-color: #E8F5FD;
}

.twt-icons li.color-1:hover i {
    color: #E8F5FD;
}


.twt-icons li.color-2:hover {
    color: #DEF1EB;
}

.twt-icons li.color-2:hover .icon-wrapper {
    background-color: #DEF1EB;
}

.twt-icons li.color-2:hover i {
    color: #DEF1EB;
}

.twt-icons li.color-3:hover {
    color: #F7e0eb;

}

.twt-icons li.color-3:hover .icon-wrapper {

    background-color: #F7e0eb;
}

.twt-icons li.color-3:hover i {
    color: #F7e0eb;

}


.twt-icons li a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}


.twt-icons li a span {
    padding: 0 7px;
    margin: auto;
}


.main .trends {
    display: flex;
    justify-content: flex-start;
    width: 350px;
    height: 100%;
    border-left: 1px solid rgb(239, 243, 244);
    flex: 1 1;
    padding-left: 12px;

}

.trends .sections {
    width: 350px;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-right: 10px;

}

.trends .search-input-wrapper {
    position: relative;
    padding-top: 5px;
    margin-bottom: 12px;



}

.search-input-wrapper input {
    position: relative;
    padding-left: 38px;
    background-color: #EFF3F4;
    border-radius: 9999px;
    height: 44px;
    width: 100%;
    font-size: 15px;
    border: none;

}

.search-input-wrapper i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translatey(-50%);
    font-size: 15px;

}

.sections .trend-cards {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    background-color: #F7F9F9;
}

.trend-cards .f-you {
    font-size: 20px;
    font-weight: 800;
    padding: 12px 16px;
}

.trend-cards .cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 82px;
    padding: 12px 16px;


}

.trend-cards .cards:hover {
    background-color: #E7E7E8;

}

.cards .card-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
}

.cards .card-name i {
    font-size: 15px;
}

.cards .card-body {
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
}

.cards .card-info {
    font-size: 13px;
    margin-top: 5px;
}

@media (max-width: 768px) {

    .header {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 12px 0;

    }

    .header .up-bar {
        width: auto;
        align-items: flex-end;
        margin-left: 18px;
    }

    .header .navbar a {
        display: none;
    }

    .btn-primary {
        width: 50px;
        height: 50px;
        padding: 0;
    }

    .up-bar .btn-primary i {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .up-bar .btn-primary span {
        display: none;
    }

    .header .bottom-bar {
        width: auto;
        align-items: flex-end;
    }

    .header .bottom-bar .p-name {
        display: none;
    }

    .header .bottom-bar .p-more {
        display: none;
    }

    .header .twt-creating .btn-primary {
        width: 50px;

    }

    .main .main-container .happening {
        border-right: 1px solid rgb(239, 243, 244);

    }

    .main-container .tweets .tweet-cards {
        border-right: 1px solid rgb(239, 243, 244);
    }

    .main .trends {
        display: none;
    }


}